# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# word temp files
~* 

# uncertainty analysis run files
pest-hspf-files/upd-uncert/

# orginal hydrologic calibration files, these are archived elsewhere
org-calib/

# older runs not used but holding onto
pest-hspf-files/Hold/

# surface water utilities executables downloaded from pest home page
swutils/

# no zip-files
*.zip

# windows msic files
Thumbs.db

# some pest run files
*.cnd
*.drf
*.jac
*.jco
*.jst
*.mtt
*.rei
*.rst
*.sen
*.seo

# some hspf run files
*.ech
*.log
*.FIL